{% extends "base.html" %}
{% load static %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="welcome">
    <h3>Hey there,</h3>
    <p>Check out some exciting tourism locations in Lagos.</p>
</div>
{% endif %}

<div class="home">
    <a href="{% url 'mainland' %}">
        <img src="{% static 'images/city.jpg' %}" class="img-fluid" alt="Mainland">
        <div class="text">
            <h1>Mainland</h1>
        </div>
    </a>
</div>
<div class="home">
    <a href="{% url 'island' %}">
        <img src="{% static 'images/beach.jpg' %}" class="img-fluid" alt="Island">
        <div class="text">
            <h1>Island</h1>
        </div>
    </a>
</div>

<style>
    .welcome{
        margin: 30px 0px;
    }
    .welcome h3{
        font-size: xx-large;
        font-family: cursive;
    }
    .welcome p{
        font-size: x-large;
        margin-top: 20px;
    }
    .home{
        position: relative; 
        text-align: center; 
        width: 100%;  
        object-fit: fill; 
        margin: 40px 0px;
    }
    .home img{
        width: 80%; 
        height: 500px; 
        overflow: hidden; 
    }
    .home a{
        opacity: 0.8;
    }
    .home a:hover{
        opacity: 1;
    }
    .text{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        color: aliceblue;
    }
</style>

<div style="margin: auto; margin-top: 50px;">
    {% include "partials/new_place_prompt.html" %}
</div>
{% endblock %}