{% extends "base.html" %}

{% block content %}

<main>
    <div style="margin: 30px 30px;">
        <a href="{% url 'mainland' %}">
            <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false" >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="35%" y="50%" fill="#dee2e6" dy=".3em" style="font-size: xxx-large;">Mainland Tourism</text>
            </svg>
        </a>
    </div>


    <div style="margin: 30px 30px;">
        <a href="{% url 'island' %}">
            <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false" >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="35%" y="50%" fill="#dee2e6" dy=".3em" style="font-size: xxx-large;">Island Tourism</text>
            </svg>
        </a>
    </div>
    
</main>

{% comment %} <main style="margin-top: 50px; margin-bottom: 20px;">
    <h2>Tourism on the <a href="{% url 'mainland' %}">Mainland</a></h2>
    <p></p>
    <h2>Tourism on the <a href="{% url 'island' %}">Island</a></h2>
</main> {% endcomment %}


{% if request.user.is_authenticated %}
<p>Found a new and exciting location? Add it <a href="{% url 'new_place' %}">here</a>.</p>
{% endif %}


{% endblock %}