{% extends "base.html" %}

{% block content %}


{% if object_list %}

<div class="location">
    {% for object in object_list %}
    <ul>
        <li style="list-style: none;">
            <h3>
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </h3>
            
            <div class="add-to-bucket-list">
                <form action="/bucket-list/{{ object.slug }}/" method="post">
                    {% csrf_token %}
                    <button type="submit" title="Add to Bucket List">+</button>
                </form>
            </div>  
        </li>
    </ul>
    {% endfor %}
</div>

{% else %}
<h2>No entry yet</h2>
{% endif %}



<div style="margin: auto;">
    {% include "partials/new_place_prompt.html" %}
</div>


<style>
    .location{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .location li{
        margin: 20px 0px;
        display:flex
    }
    .location li i{
        margin-right: 10px;
    }
    .location a{
        text-decoration: none;
        color: #1e90ff;
        margin-left: 20px;
    }
    .add-to-bucket-list{
        margin-left: 30px;
    }
    .add-to-bucket-list button{
        color: white;
        font-weight: bold;
        border: 2px solid transparent;
    }
    .add-to-bucket-list button:hover{
        transition: .4s;
        background-color: #0077EA;
        color: white;
    }
</style>

{% endblock content %}