{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<p>You are already Logged In.</p>
<p><a href="{% url 'logout' %}">Logout?</a></p>

{% else %}
<main class="text-center">
    <form action="." method="post" >
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <p style="margin-bottom: 30px;"></p>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</main>
{% endif %}

{% endblock %}



  