{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<p>You are already Logged In.</p>
<p><a href="{% url 'logout' %}">Logout?</a></p>

{% else %}
<main class="text-center">
    <form action="." method="post" style="margin: 20px;">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <p style="margin-bottom: 30px;"></p>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Don't have an account yet? <a href="{% url 'signup' %}">SignUp</a></p>
</main>
{% endif %}

{% endblock %}



  