{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}

{% if request.user.is_authenticated %}
<p>You are already Logged In.</p>
<p><a href="{% url 'logout' %}">Logout?</a></p>

{% else %}
<form action="." method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='SignUp' reset='Reset' %}{% endbuttons %}
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endif %}

{% endblock %}